body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 150px;
  min-width: 200px;

  color: #fff;
  background-color: #222;
  border-radius: 10px;

  padding: 20px;
}

.input {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.input-edit:hover {
  background-color: #c9b37e;
}

.a-header {
  font-size: 20px;
  text-decoration: none;
  color: blue;
  border-radius: 5px;
  margin-right: 10px;
  list-style-type: disc;
  padding-left: 10px;
}

.a-header:hover {
  background-color: blue;
  color: #f2f2f2;
}

.user-info {
  display: flex;
  flex-direction: column;

  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;

  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.user-info-view {
  display: flex;
  flex-direction: column;

  min-height: 180px;

  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;

  color: white;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  align-items: flex-start;
}

.a-user-info {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

label {
  color: white;
}

a {
  color: white;
}

p {
  color: white;

  height: 0px;
}

hr {
  border-style: solid;
  border-color: #555;
  border-width: 0 0 3px 0;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
